@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')
	;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
	
body {
	
	padding:0;
	margin:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', 'sans-serif';
	font-family: 'Roboto', sans-serif; /* Usando a fonte Roboto */
	font-size: 1em;
	font-weight: 400;
	background-color: #FFFFFF;
}

h1 {
	color: #000000;
}

.agendatitle{
	color: white;
	
}

.contatosagenda{
	margin-top: 25vh;
	text-align: center;
	gap: 10px;
}
.botao1 {
	text-decoration: none;
	color: white;
	background-color: #FF0000;
	padding: 5px 10px 5px 10px;
	background-color: #FF0000;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 15px;
	border: 0;
	cursor: pointer;
}

.botao2 {
	text-decoration: none;
	color: white;
	background-color: #FF0000;
	padding: 5px 10px 5px 10px;
	background-color: #FF0000;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 15px;
	border: 0;
	cursor: pointer;
}

.botao3 {
	text-decoration: none;
	color: white;
	background-color: #FFB600;
	padding: 5px 10px 5px 10px;
	background-color: #FFB600; 
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 15px;
	border: 0;
	cursor: pointer;
}

.caixa1 {
	width: 320;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #FF0000;
	border-radius: 10px 40px;
}

.caixa2 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #FF0000;
	border-radius: 10px 40px;
}
/* caixa do idcon do editar.jsp*/
#caixa3 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #727272;
	border-radius: 10px 40px;
}



#tabela {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adicionando uma sombra suave */
}

#tabela th {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: left;
    background-color: #FF0000; /* Alterando a cor de fundo do cabeçalho para vermelho */
    color: white;
    font-weight: bold;
}

#tabela td {
    border: 1px solid #ddd;
    padding: 16px;
}

#tabela tr:nth-child(even) {
    background-color: #f2f2f2; /* Alterando a cor de fundo das linhas pares */
}

#tabela tr:hover {
    background-color: #e0e0e0; /* Alterando a cor de fundo quando o mouse passa sobre a linha */
}

/* Adicionando ícones */
#tabela th i,
#tabela td i {
    margin-right: 8px;
}

/* Alterando a cor dos ícones */
#tabela th i {
    color: #ffffff; /* Cor branca para os ícones do cabeçalho */
}

#tabela td i {
    color: #777777; /* Cor cinza para os ícones nas células */
}




/*teste*/
.form-box {
  margin-top: 20vh;
  max-width: 600px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 64px 24px 24px;
  gap: 10px;
  text-align: center;
  width: 300px;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 700;
}

.subtitle {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}
.caixa {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}
/*Button*/
.adicionar {
  background-color: #FF0000;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

/*BackGorundTeste*/
.container {
  width: 100%;
  height: 100%;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

/*.link{
	margin-top: 20vw;
}*/

/*Panel Index*/
.card {
 width: 390px;
 height: 454px;
 border-radius: 30px;
 background: #212121;
 box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);

}


